body {
    background-color: #292929;
}

.main-container {
    color: #cbcbcb;
    width: 100%;
    /* margin: 50 auto; */
    background-color: #1d1d1d;
    border: solid 2px #121212;
}

.main-container h1 {
    border-bottom: solid 2px greenyellow;
    text-align: center;
    background-color: #121212;
    margin: 0;
}

.main-container h1:hover {
    color: yellowgreen;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navigation-box {
    width: 30%;
}

.navigation-box ul li {
    background-color: #121212;
    border-bottom: solid 0.5em #1d1d1d;
}

.navigation-box ul li:last-child {
    border-bottom: none;
}

.navigation-box ul li:hover {
    background-color: #2d2d2d;
}

.navigation-box ul li a {
    color: yellowgreen;
}

.navigation-box ul li a:hover {
    color: #cbcbcb;
}

.description-box {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 70%;
    padding-left: 2%;
    font-size: 1.2em;
}

.nav-item {
    font-size: 1.3em;
}

footer {
    text-align: center;
    color: #6c757d;
    border-top: solid 2px greenyellow;
    background-color: #121212;
    padding: 0.5%;
}

footer h6 {
    margin: 0;
}

footer h6:last-of-type {
    display: inline;
}

footer a {
    color: #cbcbcb;
}

footer a:hover {
    color: greenyellow;
}
